<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../assets/image/sorvete.png" type="image/x-icon">
    <link rel="stylesheet" href="footer.css">
    <title>Footer</title>
</head>
<footer>
    <div id="footer">
        <p>Todos os direitos reservados </p>
        <a href="https://linktr.ee/Eu__53?utm_source=linktree_profile_share&ltsid=f57019f5-2af7-4005-a68f-ee79205385c1"
            target="_blank">
            <img src="../assets/image/white icon.png" alt="">
            <a>
    </div>
</footer>
</head>

<body>

</body>

</html>