<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../assets/image/sorvete.png" type="image/x-icon">
    <link rel="stylesheet" href="header.css">
    <title>Header</title>
</head>

<body>
    <header>
        <!--Divisória para mudanças gerais na header-->
        <div class="header">
            <img src="../assets/image/sorvete.png" alt="logo de nossa sorveteria">
            <!--Section para a navegação entre as paginas-->
            <section class="conteiner">
                <nav>
                    <ul>
                        <a href="../pages/inicial.html">
                            <li>Inicial</li>
                        </a>

                        <a href="../pages/feedback.html">
                            <li>Feedback</li>
                        </a>

                    </ul>
                </nav>
            </section>
        </div>
    </header>
</body>

</html>