* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: ;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: ;
    margin-top: 10px;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
    justify-content: space-between;
    display: inline-flex;
}

.conteiner {
    gap: 50px;
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

a {
    color: black;
    text-decoration: none;
    padding: 20px;
}

a:hover {
    color: black;
    background-color: rgba(225, 225, 225, 0.489);
    border-radius: 10px;
}

.header {
    height: 150px;
    padding: 0 5%;
}