body{
   background-color:rgb(246,235,213);
}

#imgsmarina{
    width:20%;
    height: 20%;
}

.article4{
    border-top: 3px solid rgb(125,56,57);
    border-radius: 5px;
    margin: 25px;
    padding: 25px;
    box-shadow: 5px 5px 15px rgb(218,145,117);
    background-color: rgb(246,235,213);
}

