#dep1{ font-size: 200%;
text-align: center;}/*DEPOIMENTO EM PARAGRAFO 1*/

#deimg{border-radius: 50%;
width: 50%;
height: 50%;
margin: 5%;}/*IMAGENS DO DEPOIMENTO*/

#depsec1{ display: flex;} /*Section 1 do Depoimento*/

#depart1{ display: flex;
background-color: wheat;
box-shadow: 5px 5px 5px 5px black;
margin: 1%;} /*Article 1 do Depiomento*/

#dediv{ background-color: aqua;} /*DEPOIMENTO DIV*/