body{
    margin: 0;
    padding: 0;
    background-color: #f6ebd5;
}

#título{
    text-align: center;
}
/*Promoção Especial*/
#art1{
background-color: #abccb9;
margin: 50px;
padding: 50px;
border-radius: 5px;
box-shadow: 5px 5px 15px gray;
border-left: 5px #599a8c;
}
/*div da promoção especial para colocar o texto ao lado da imagem*/
#promoespecial{
    display: flex;
    justify-content: space-between;
}
/*edição do texto da produção*/
#textopromo{
    padding-left: 100px;
    font-size: 25px;
}
