.sussection{ margin-left: 50%;
    display: flex;
    flex-direction: column;} /* section que agrega a imagem sucess, texto "Foi enviado com sucesso" e button voltar para inicial*/
    
    .susarticle1{display: flex;
    flex-direction: column;} /* article com img e p */
    
    #imgsucess{ height: 64px;
    width: 64px;}